.opacity-show {
  .opacity-show-enter-active,
  .opacity-show-leave-active {
    transition: all 0.5s;
  }
  .opacity-show-enter, .opacity-show-leave-to /* .intro-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translatey(30px);
  }
}
